# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/

# Environments
.venv/
venv/
ENV/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Outputs
reports/*.png
reports/

# OS
Thumbs.db
.DS_Store